{% extends "include/layout.twig" %}

{% block title %}
Forum
{% endblock %}

{% block content %}
  {% include 'include/disqus.twig' %}
{% endblock %}

{% block footerNavForum %}
<span class="location">Forum</span>
{% endblock %}