{% extends "include/layout.twig" %}

{% block title %}
Terms of Service
{% endblock %}

{% block content %}
<div class="textSection">
  <h1>Terms of Service</h1>
  <p>
    By using this site, you agree with the following terms:
    <ol>
      <li>This site should not be used to convert copyright-protected videos.</li>
      <li>Audio files downloaded from this site can only be used for private listening and can not be distrubuted or played in public.
        It is prohibited to use audio files downloaded from this site to achieve any kind of commercial purpose.</li>
      <li>Sound quality of the audio files downloaded from this site is not guaranteed.
        Conversion quality only affects the selection of video format and encoding settings.
        However, not every video is available in high quality and contains high quality sound.</li>
    </ol>
  <p>
    If you disagree with any of the above statements, you should stop using this site and delete all the audio files, downloaded from it.
</div>

{% endblock %}

{% block footerNavTerms %}
<span class="location">Terms of Service</span>
{% endblock %}