<table border="0" cellpadding="0" cellspacing="0" align="center" id="{{ id }}" class="conversionResult">
  <tr>
    <td class="thumbnail" rowspan="3">
      <div>
        <div class="top"><img src="/images/pixel.gif" alt=""></div>
        <div class="content"><img src="/images/pixel.gif" alt="" class="thumbnailImg hidden"></div>
        <div class="bottom"><img src="/images/pixel.gif" alt=""></div>
      </div>
    </td>
    <td class="titleParent">
      <div class="title">
      </div>
    </td>
    <td class="info hidden">
    </td>
  </tr>
  <tr>
    <td colspan="2" class="description hidden">
        <div>
        </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="status">
      <span class="progress">
        <span class="operation"></span>
        <img class="ellipsis" src="/images/progress-ellipsis.gif" width="10" height="10">
      </span>
      <span class="result hidden">
        <a href="#">Download</a>
        <span class="sep">|</span>
        <span class="optionsLink" id="codeLink" onclick="javascript: tomp3org.toggleResultOptions('code')">Link</span>
        <span class="sep">|</span>
        <span class="optionsLink" id="shareLink" onclick="javascript: tomp3org.toggleResultOptions('share')">Share</span>
      </span>
      <span class="error hidden">
      </span>
    </td>
  </tr>
</table>