    </td>
    <td class="f"><img src="/images/pixel.gif" alt=""></td>
  </tr>
  <tr>
    <td class="g"><img src="/images/pixel.gif" alt=""></td>
    <td class="h"><img src="/images/pixel.gif" alt=""></td>
    <td class="i"></td>
  </tr>
</table>