<!-- Rounded frame -->
<table class="tableRF" cellspacing="0" cellpadding="0">
  <tr>
    <td class="a"><img src="/images/pixel.gif" alt=""></td>
    <td class="b"><img src="/images/pixel.gif" alt=""></td>
    <td class="c"><img src="/images/pixel.gif" alt=""></td>
  </tr>
  <tr>
    <td class="d"><img src="/images/pixel.gif" alt=""></td>
    <td class="e">